/* --- GENERIC --- */
* { padding: 0; margin: 0; }
a img { border: none; }
body {
    color: #000000;
    background: #FAFAFA;
    font-family: Verdana, Sans-Serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:hover {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.nospace { word-spacing: -0.35em; }
