
        <!-- BEGIN PORTLET-->
        <div class="portlet light"><!--<div class="portlet light bordered"> -->
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Chats</span>
                </div>
                <div class="actions">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control input-circle" placeholder="search..." onclick="javascript:msgSend();"> </div>
                    </div>
                </div>
            </div>
            <div>
            <div>
            <iframe name='chat_frame' id="chat_frame" src={{iframeSrcUrl}} scrolling="no" frameborder="0" border="0" cellspacing="0"  style="overflow:hidden; border-size: 0;width: 100%; height: 525px;"></iframe>
            </div>
        </div>
        <!-- END PORTLET-->