<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ form=='login' ? 'Sign In' : (form=='register' ? 'Create New Account' : 'Forgot Password')}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <!-- login form -->
            <div class="modal-body" ng-show="form=='login'" style="padding-left:50px;padding-right:50px">

                <div class="alert alert-danger" role="alert" ng-show="env.login.error">{{ env.login.error }}</div>
                <form name="loginForm">

                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="env.login.email" placeholder="Login"
                               required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="env.login.password" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group" style="height: 30px">
                        <div class="col-md-8" style="padding-left: 0px">
                                Don't have an account? <a href="" ng-click="form='register'">Create new account</a>
                        </div>
                        <div class="col-md-4 text-right" style="padding-right: 0px;">
                            <a href="" ng-click="form='forgot'">Forgot Password?</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" ng-disabled="loginForm.$invalid || env.login.waiting==true" ng-click="login( env.login )"
                                class="btn btn-default save-review">Sign In
                        </button>
                    </div>
                </form>
            </div>

            <!-- register form -->
            <div class="modal-body" ng-show="form=='register'" style="padding-left:50px;padding-right:50px">

                <div class="alert alert-danger" role="alert" ng-show="env.errors.login">{{ env.errors.login }}</div>
                <form name="registerForm">

                    <div class="form-group">
                        <input type="email" class="form-control" ng-model="env.login.email" placeholder="Email"
                               required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="env.login.password" placeholder="Password"
                               required>
                    </div>

                    <div class="form-group" style="height: 30px">
                        <div class="col-md-8" style="padding-left: 0px"><a href="" ng-click="form='register'">Sign in</a></div>
                        <div class="col-md-4 text-right" style="padding-right: 0px;"><a href="" ng-click="form='forgot'">Forgot Password?</a></div>
                    </div>

                    <div class="form-group">
                        <button type="button" ng-disabled="loginForm.$invalid" ng-click="auth()"
                                class="btn btn-default save-review">Sign In
                        </button>
                    </div>
                </form>
            </div>

            <!-- forgot form -->
            <div class="modal-body" ng-show="form=='forgot'" style="padding-left:50px;padding-right:50px">



                <div class="alert alert-danger" role="alert" ng-show="env.errors.forgot">{{ env.errors.forgot }}</div>
                <form name="forgotForm">

                    <div class="form-group">
                        <input type="email" class="form-control" ng-model="env.forgot.email" placeholder="Email"
                               required>
                    </div>

                    <div class="form-group">
                        <button type="button" ng-disabled="forgotForm.$invalid" ng-click="forgot()"
                                class="btn btn-default save-review">Send
                        </button>
                    </div>
                </form>

                <div class="form-group" style="height: 30px">
                    <div class="col-md-8" style="padding-left: 0px"> Don't have an account? <a href="" ng-click="form='register'">Create new account</a></div>
                    <div class="col-md-4 text-right" style="padding-right: 0px;"><a href="" ng-click="form='forgot'">Sign in</a></div>
                </div>
            </div>

        </div>
    </div>
    </div>