<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
<div ng-show="env.loading==false">

    <ol class="breadcrumb">
        <li><a href="#" ui-sref="index" translate>Home</a></li>
        <li class="active" translate>Feedbacks</li>
    </ol>

    <div class="row">
        <div class="portlet light tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase" translate>Weekly Feedback</span>
                </div>
            </div>

            <div class="row no-print" ng-show="user.isCoach()">


                <div class="col-md-2">
                    <select style="width: 100%"
                            ui-select2 ng-model="env.filters.username">
                        <option value="" translate="">Select Athlete</option>
                        <option ng-repeat="user in env.athletes" value="{{user.username}}">{{user.username}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label translate>
                            <input type="checkbox" ng-model="env.filters.coachFeedback" ng-true-value="undefined"
                                   ng-false-value="true"> Need Answer
                        </label>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-responsive">
                    <div class="task-content">
                        <table class="table table-striped">
                            <tr>
                                <th translate>Week</th>
                                <th translate ng-show="user.isCoach()">Athlete</th>
                                <th translate>Period</th>
                                <th translate>Mood</th>
                                <th translate>Fatigue</th>
                                <th translate>Hardness</th>
                                <th translate>Pain</th>
                                <th translate>Where</th>
                                <th translate>Comments</th>
                                <th translate>Coach Comments</th>
                                <th translate>Save</th>
                            </tr>
                            <tr ng-repeat="feedback in env.feedback|filter:env.filters">

                                <td align="center">{{$index+1}}</td>
                                <td ng-show="user.isCoach()">
                                    {{feedback.get('user').get('username')}}
                                </td>

                                <td>{{feedback.get('printDateRange')}}
                                </td>
                                <td>
                                    <div ng-show="user.isAthlete()">
                                        <select class="form-control"
                                                ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                                ng-model="feedback.mood" required>
                                            <option value="Euphoric" translate>Euphoric</option>
                                            <option value="Boosted" translate>Boosted</option>
                                            <option value="Happy" translate>Happy</option>
                                            <option value="Apatethic" translate>Apatethic</option>
                                        </select>
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.mood}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="user.isAthlete()">
                                        <select class="form-control"
                                                ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                                ng-model="feedback.fatigue" required>
                                            <option value="High" translate>High</option>
                                            <option value="Moderate" translate>Moderate</option>
                                            <option value="Low" translate>Low</option>
                                        </select>
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.fatigue}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="user.isAthlete()">
                                        <select class="form-control"
                                                ng-model="feedback.hardness"
                                                ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                                required>
                                            <option value="Extremely" translate>Extremely</option>
                                            <option value="Hard" translate>Hard</option>
                                            <option value="Fairly Light" translate>Fairly Light</option>
                                            <option value="Very Light" translate>Very Light</option>
                                            <option value="Rest" translate>Rest</option>
                                        </select>
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.hardness}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="user.isAthlete()">
                                        <select class="form-control"
                                                ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                                ng-model="feedback.pain" required>
                                            <option value="Yes" translate>Yes</option>
                                            <option value="No" translate>No</option>
                                        </select>
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.pain}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="user.isAthlete()">
                                        <input type="text"
                                               ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                               ng-show="feedback.pain=='Yes'" class="form-control"
                                               ng-model="feedback.where" ng-required="feedback.pain=='Yes'">
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.where}}
                                    </div>
                                </td>
                                <td>

                                    <div ng-show="user.isAthlete()">
                                        <textarea style="width: 300px;height:100px"
                                                  class="form-control"
                                                  ng-disabled="feedback.fullFeedback==true && !feedback.editComment"
                                                  ng-model="feedback.comments"></textarea>
                                    </div>
                                    <div ng-show="user.isCoach()">
                                        {{feedback.comments}}
                                    </div>
                                </td>
                                <td>

                                    <div ng-show="user.isCoach()">


                                        <parse-select default="Custom answer" ng-model="feedback.answer" ng-disabled="feedback.coachFeedback==true && !feedback.editComment"
                                                      options="env.weeklyAnswers" title="answer_{{user.language}}"></parse-select>
                                        <br>
                                        <textarea style="width:300px;height:200px" class="form-control"
                                                  ng-disabled=" feedback.answer || (feedback.coachFeedback==true && !feedback.editComment)"
                                                  ng-model="feedback.coachComment"></textarea>
                                    </div>
                                    <div ng-show="user.isAthlete()">
                                        {{feedback.coachComment || feedback.answer.get('answer_'+user.language)}}
                                    </div>


                                </td>
                                <td>

                                    <input type="hidden" ng-model="feedback.fullFeedback" value="true">
                                    <button

                                            ng-hide="feedback.coachFeedback==true && !feedback.editComment"
                                            ng-disabled="feedback.checkForm( user.isCoach()  )"
                                            ng-click="saveWeeklyFeedback(feedback)"
                                            class="btn btn-success" translate>Save
                                    </button>
                                    <button ng-show="feedback.coachFeedback==true && feedback.editComment!=true"
                                            ng-click="feedback.editComment = true"
                                            class="btn btn-success" translate>Edit
                                    </button>
                                </td>

                            </tr>

                        </table>
                    </div>

                </div>

            </div>


            <div class="row" ng-show="user.isCoach()">

                <div class="portlet light tasks-widget">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-green-haze hide"></i>
                            <span class="caption-subject font-green-haze bold uppercase" translate>Race Feedback</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="task-content">
                            <table class="table table-striped">
                                <tr>
                                    <th translate>Date</th>
                                    <th translate>Race</th>
                                    <th translate>Athlete</th>
                                    <th translate>KM</th>
                                    <th translate>+Slope</th>
                                    <th translate>City</th>
                                    <th translate>Province</th>
                                    <th translate>Country</th>
                                    <th translate>Ranking</th>
                                    <th translate>Time</th>
                                    <th translate>Feelings</th>
                                    <th translate>Rating</th>
                                    <th translate>Comments</th>
                                    <th translate>Coach Comments</th>
                                    <th translate>Actions</th>
                                </tr>
                                <tr align="center" ng-repeat="post in env.races |filter:env.filters">
                                    <td>{{ post.getCurseData() }}</td>
                                    <td>{{ post.get('nomcursa').get('nom') }}</td>
                                    <td>{{ post.get('user').get('username') }}
                                    </td>
                                    <td>{{ post.get('nomcursa').get('distancia') }}</td>
                                    <td>{{ post.get('nomcursa').get('desnivell') }}</td>
                                    <td>{{ post.get('nomcursa').get('poblacio') }}</td>
                                    <td>{{ post.get('nomcursa').get('provincia') }}</td>
                                    <td>{{ post.get('nomcursa').get('pais') }}</td>
                                    <td>
                                        {{post.posabs}}
                                    </td>

                                    <td>
                                        {{post.temps_segons}}
                                    </td>
                                    <td>
                                        {{post.feelings}}
                                    </td>
                                    <td>
                                        {{post.rating}}
                                    </td>
                                    <td class="no-print">
                                        {{post.comments}}
                                    </td>
                                    <td class="no-print">

                                        <parse-select default="Custom answer" ng-model="post.defaultCoachComment" ng-disabled="post.isCoachFull==true && !post.editComment"
                                                      options="env.raceAnswers" title="answer_{{user.language}}"></parse-select>
                                        <br>
                                        <textarea style="width:300px;height:200px" class="form-control" ng-disabled="(post.isCoachFull==true && !post.editComment) || post.defaultCoachComment"
                                                  ng-model="post.coachComments"></textarea>
                                    </td>
                                    <td class="no-print">

                                        <button
                                                ng-hide="post.isCoachFull==true"
                                                ng-disabled="post.coachComments==undefined && post.defaultCoachComment==undefined"
                                                ng-click="saveCoachCommentsResult(post, post.coachComments, post.defaultCoachComment)"
                                                class="btn btn-success" translate>Save
                                        </button>

                                        <button ng-show="post.isCoachFull==true && post.editComment!=true"
                                                ng-click="post.editComment = true"
                                                class="btn btn-success" translate>Edit
                                        </button>


                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>