
<div class="page-header-inner yes-print">
    <!-- BEGIN LOGO -->
    <div class="page-logo yes-print">
        <a href="#/">
            <img src="assets/admin/layout/img/logo.png" alt="logo" class="logo-default yes-print"/>
        </a>

    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide no-print" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
			<span class="input-group-btn">
			<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			</span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
     <a href="javascript:;" class="menu-toggler responsive-toggler no-print" data-toggle="collapse" data-target=".navbar-collapse">
        </a>

    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu no-print">
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar" >
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-bell"></i>
					<span class="badge badge-default">{{env.events.length}} </span>
					</a>
					<ul class="dropdown-menu">
						<li class="external">
							<h3><span class="bold notificaionNumber">{{env.events.length}}</span><span class translate><strong>pending</strong> notifications</span></h3>
						</li>
						<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
							<li  ng-repeat="event in env.events" class="liPendgingNotification">
								<!--<a ng-if="!pendingNotification.alink" class="showtaost"
								   message={{pendingNotification.coachComment}}
								   noticeTitle={{pendingNotification.noticeTitle}}
								   objectId={{pendingNotification.objectId}}
								   tableName={{pendingNotification.tblName}}
								   multiShow={{pendingNotification.multishow}}
								   showMsg={{pendingNotification.showMsg}}
								   removable={{pendingNotification.removable}}>
									<span class="time">{{pendingNotification.intervalMinute}}</span>
									<span class="details">
										<span class="label label-sm label-icon label-success"><i class={{pendingNotification.icon}}></i></span>{{pendingNotification.noticeMsg}}
									</span>
								</a>-->
								<a  ng-click="selectEvent(event)">
									<span class="time">{{event.getIntervalMinute()}}</span>
									<span class="details">
									<span class="label label-sm label-icon label-success">
									<i class={{event.getIcon()}}></i>
									</span>
									{{event.text}} </span>
								</a>
							</li>
						</ul>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
						<img alt="" class="img-circle" ng-src="{{ env.user.get('photo').url() }}"/>
					<span class="username username-hide-on-mobile">
					{{ env.user.get('username') }} </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">

						<li>
							<a href="#" ui-sref="profile">
								<i class="icon-user" translate></i><span translate> Profile</span></a>
						</li>
						<li>
							<a href="#" ng-click="logout()">
								<i class="icon-key" translate></i><span translate> Log Out</span></a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-quick-sidebar-toggler">
					<a href="javascript:;" class="dropdown-toggle">
					<i class="icon-logout"></i>
					</a>
				</li>
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
</div>
