	<div id="quicksidebarController" ng-controller="quicksidebarController">
		<div class="page-quick-sidebar">
			<div class="nav-justified">
				<ul class="nav nav-tabs nav-justified">
					<li class="active">
						<a href="#" data-target="#quick_sidebar_tab_1" data-toggle="tab" dropdown-menu-hover data-close-others="true"><span translate>USERS</span><span class={{env._onlineClsAllUserCount}}>{{env._onlineAllUserCount}}</span></a>
					</li>
					<!--
					<li>
						<a href="#" data-target="#quick_sidebar_tab_2" data-toggle="tab" dropdown-menu-hover data-close-others="true" translate>ALERTS</a>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
						More<i class="fa fa-angle-down"></i>
						</a>
					
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="#" data-target="#quick_sidebar_tab_3" data-toggle="tab">
								<i class="icon-bell"></i> Alerts </a>
							</li>
							<li>
								<a href="#" data-target="#quick_sidebar_tab_3" data-toggle="tab">
								<i class="icon-info"></i> Notifications </a>
							</li>
							<li>
								<a href="#" data-target="#quick_sidebar_tab_3" data-toggle="tab">
								<i class="icon-speech"></i> Activities </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#" data-target="#quick_sidebar_tab_3" data-toggle="tab">
								<i class="icon-settings"></i> Settings </a>
							</li>
						</ul>
					-->
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
						<div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
							<h3 class="list-heading">Staff</h3>
							<ul class="media-list list-items">
								<li class="media" ng-repeat="resultuser in env.staffUserList">
									<div class="media-status" actionchatstatus={{resultuser.actionChatStatus}}>
										<span class={{resultuser.clsChatStatus}}>{{resultuser.onlineStatusUserCount}}</span>
									</div>
									<img class="media-object" ng-src={{resultuser.userphoto}} alt="...">
									<div class="media-body">
										<h4 class="media-heading-sub">{{resultuser.username}}</h4>
										<div class="media-heading-sub">
											 {{resultuser.city}}
										</div>
										<div class="media-heading-small">
											 {{resultuser.lastLoginDate | date:'medium'}}
										</div>
									</div>
								</li>
							</ul>
							
							<h3 class="list-heading" translate>Athletes</h3>
							<ul class="media-list list-items">
								<li class="media" ng-repeat="resultuser in env.athleteUserList">
									<div class="media-status" actionchatstatus={{resultuser.actionChatStatus}}>
										<span class={{resultuser.clsChatStatus}}>{{resultuser.onlineStatusUserCount}}</span>
									</div>
									<img class="media-object" ng-src={{resultuser.userphoto}} alt="...">
									<div class="media-body">
										<h4 class="media-heading-sub">{{resultuser.username}}</h4>
										<div class="media-heading-sub">
											 {{resultuser.city}}
										</div>
										<div class="media-heading-small">
											 {{resultuser.lastLoginDate | date:'medium'}}
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="page-quick-sidebar-item">
								<div class="page-quick-sidebar-chat-user">
									<div class="page-quick-sidebar-nav">
										<a href="javascript:;" class="page-quick-sidebar-back-to-list"><i class="icon-arrow-left"></i>Back</a>
										
										<span class={{env._CurrentClsChatStatus}}>{{env._noticeChatMsg}}</span>
									</div>
									<div class="page-quick-sidebar-chat-user-messages">
										<div ng-repeat="message in messages">
											<div ng-if="message.userid == userId">
												<div class="post out">
													<img class="avatar" alt="" ng-src={{message.imgSrc}}>
													<div class="message">
														<span class="arrow"></span>
														<a href="#" class="name">{{message.userid}}</a>
														<span class="datetime">{{message.datetime}}</span>
														<span class="body">
														{{message.msg}} </span>
													</div>
												</div>
											</div>
											<div ng-if="message.userid != userId">
												<div class="post in">
													<img class="avatar" alt="" ng-src={{message.imgSrc}}>
													<div class="message">
														<span class="arrow"></span>
														<a href="#" class="name">{{message.userid}}</a>
														<span class="datetime">{{message.datetime}}</span>
														<span class="body">
														{{message.msg}} </span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="page-quick-sidebar-chat-user-form">
										<div class="input-group">
											<input id="pfc_words" ng-model="subscriptions.channel1" type="text" class="form-control" placeholder="Type a message here...">
											<div class="input-group-btn">
												<button type="button" class="btn blue"><i class="icon-paper-clip"></i></button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
					<!--
					<div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
						<div ng-if="env.user.isAthlete() == true" class="page-quick-sidebar-alerts-list">
							<div>
								 <h3 class="list-heading" translate>Pending Notifications &nbsp;&nbsp;&nbsp;&nbsp;
								 <a id="refreshPendingNotification" style="background-image: url(assets/global/img/portlet-reload-icon-white.png); background-repeat:no-repeat;widht:13px; height:16px">&nbsp;&nbsp;&nbsp;&nbsp;</a>
								 </h3>
							</div>
							-
							<ul class="feeds list-items">
								
								<li ng-repeat="pendingNotification in env.pendingNotificationList  | orderBy:'-timestampe'">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class={{pendingNotification.icon}}></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 <span translate>{{pendingNotification.noticeMsg}}</span>
													 <a><span class="label label-sm label-warning showtoast" message={{pendingNotification.coachComment}} noticeTitle={{pendingNotification.noticeTitle}} objectId={{pendingNotification.objectId}}  tableName={{pendingNotification.tblName}}multiShow="1">See it <i class="fa fa-share"></i></span></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">{{pendingNotification.intervalMinute}}</div>
									</div>
								</li>
						
							</ul>
						</div>
					</div>
					-->
					<div class="tab-pane page-quick-sidebar-settings" id="quick_sidebar_tab_3">
						<div class="page-quick-sidebar-settings-list">
							<h3 class="list-heading">General Settings</h3>
							<ul class="list-items borderless">
								<li>
									 Enable Notifications <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
								<li>
									 Allow Tracking <input type="checkbox" class="make-switch" data-size="small" data-on-color="info" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
								<li>
									 Log Errors <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
								<li>
									 Auto Sumbit Issues <input type="checkbox" class="make-switch" data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
								<li>
									 Enable SMS Alerts <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
							</ul>
							<h3 class="list-heading">System Settings</h3>
							<ul class="list-items borderless">
								<li>
									 Security Level
									<select class="form-control input-inline input-sm input-small">
										<option value="1">Normal</option>
										<option value="2" selected>Medium</option>
										<option value="e">High</option>
									</select>
								</li>
								<li>
									 Failed Email Attempts <input class="form-control input-inline input-sm input-small" value="5"/>
								</li>
								<li>
									 Secondary SMTP Port <input class="form-control input-inline input-sm input-small" value="3560"/>
								</li>
								<li>
									 Notify On System Error <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
								<li>
									 Notify On SMTP Error <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
								</li>
							</ul>
							<div class="inner-content">
								<button class="btn btn-success"><i class="icon-settings"></i> Save Changes</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>